server:
    log_level: info

metrics:
  global:
    scrape_interval: 60s
    external_labels:
      environment: development
  wal_directory: /var/lib/grafana-agent/grafana-agent-wal
  configs:
  - name: metrics
    scrape_configs:
      - job_name: external_node_exporter
        static_configs:
          - targets:
            - localhost:9090
        metrics_path: /metrics
        relabel_configs:
            - target_label: instance
              replacement: {{ grafana_agent_hostname }}
    remote_write:
      - url: {{ grafana_agent_prometheus_url }}
        basic_auth:
          username: {{ grafana_agent_prometheus_id }}
          password: {{ grafana_agent_api_key }} 

integrations:
  node_exporter:
    enabled: true
    instance: {{ grafana_agent_hostname }}
  prometheus_remote_write:
    - url: {{ grafana_agent_prometheus_url }}
      basic_auth:
        username: {{ grafana_agent_prom_user }}
        password: {{ grafana_agent_api_key }}

logs:
  positions_directory: /var/lib/grafana-agent/log_positions
  configs:
    - name: integrations
      clients:
        - url: {{ grafana_agent_loki_url }}
          basic_auth:
            username: {{ grafana_agent_loki_id }}
            password: {{ grafana_agent_api_key }}
      scrape_configs:
        - job_name: integrations/node_exporter_direct_scrape
          static_configs:
            - targets:
                - localhost
              labels:
                hostname: {{ grafana_agent_hostname }}
                instance: {{ grafana_agent_hostname }}
                job: integrations/node_exporter
                __path__: /var/log/*.log
